.card-body {
    padding-left: 20px;
    margin: 5px;
    float: left;
    z-index: 9999;
    position: relative;
    top: 12px;
}

.form-inline {
    font-size: 18px;
}

.form-control {
    margin-left: 10px;
    height: 35px;
    font-size: 20px;
    color: rgb(66, 58, 58);
    padding-left: 15px;
}
form select{
    display: block!important;
    height: 38px;
    width: 45%!important;
    text-align: center;
}
body {
    overflow: hidden;
}
.frc{
    margin-top: 25px;
    text-align: center;
}
.editin{
    width: 45%!important;
}
